* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body with overlay */
body{
    font-family: Arial;
    min-height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("https://thumbs.dreamstime.com/b/sneaker-3247828.jpg?w=768");
    background-size: cover;
    background-position: center;
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px;
    background: transparent;
}

header h1 {
    font-weight: 500;
}

/* NAVBAR */
nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

/* Active link */
nav a.active {
    border-bottom: 2px solid white;
}

/* HERO */
.hero{
    max-width: 600px;
    margin: 120px auto 40px;
    padding: 0 16px;
}

.hero h2{
    font-size: 42px;
}

.hero p{
    margin-top: 15px;
    line-height: 1.6;
}

/* BUTTON */
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* FOOTER */
footer{
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 10px;
}

/* ===== GLOBAL RESPONSIVE ===== */
img {
  max-width: 100%;
  height: auto;
}

/* ===== TABLET ===== */
@media (max-width: 768px) {

  header {
    padding: 25px;
  }

  header h1 {
    font-size: 22px;
  }

  .hero {
    margin: 100px auto;
    text-align: center;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 14px;
  }

}

/* ===== MOBILE ===== */
@media (max-width: 480px) {

  header h1 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 24px;
  }

}
